* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f4f5;
  font-family: "Noto Sans TC";
}

/*  Header  */

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/manosunidas.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  text-align: center;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  font-family: "Cookie", cursive;
}

h4 {
  font-size: 1.9rem;
  font-family: "Cookie", cursive;
  color: #d8d3d3;
}

.subtitulo {
  font-size: 21px;
  font-weight: 900;
}

.titulopa {
  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
}

.dropdown-item {
  font-weight: 700;
}

.amarillo {
  color: #fbbc05;
}

.amarillooscuro {
  color: #fedc5b;
}

.white {
  color: whitesmoke;
}

.wo {
  color: #d8d3d3;
}

.gris {
  color: #999;
}

.bginfo-oscuro {
  color: #00d2ff;
}

.black {
  color: black;
}

.verde {
  color: #02864d;
}

.celeste {
  color: #0198b9;
}

.stroke {
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}

.stroke:focus {
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
  color: #fbbc05;
}

.button {
  background-color: #0398b9;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  background-color: #0186a3;
  color: white;
  text-decoration: none;
}

/*  Nav  */

nav {
  z-index: 1;
}

.navbar {
  padding-top: 0.1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.1rem !important;
  padding-left: 1rem !important;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.navbar-brand.ml-3 {
  color: white;
  font-weight: 700;
  font-size: 30px;
  font-family: "Cookie", cursive;
}

.navbar-brand.ml-3:hover {
  color: #fbbc05;
}

.navbar-brand.ml-3:focus {
  color: #39b882;
}

.nav-link {
  color: white !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18.7px;
}

.bg-info {
  background: transparent !important;

  opacity: 0.98;
}

.dropdown-menu {
  background: transparent;
  border: none;
  border-radius: none;
}

.dropdown-item {
  color: white;
  background-color: transparent;
}

.navbar-toggler {
  border-color: #00d2ff !important;
}

.navbar-brand.ml-3.stroke:focus {
  color: #ffffff;
}

.nav-link:hover {
  color: #39b882 !important;
}

/*  Textos/Párrafos  */

#about-text {
  text-align: left;
}

#about-text p b {
  color: #02864d;
  font-weight: 900;
  font-size: 18.7px;
}

.lista ul li {
  list-style-type: none;
  background-image: url(../images/TILDE.png);
  background-position: 0 0;
  background-size: 1.6rem;
  background-repeat: no-repeat;
  padding-left: 40px;
}

/*  Cards  */

.hashtags span {
  display: block;
}

.col-md-3 {
  margin-bottom: 20px;
}

.card {
  box-shadow: 0px 0px 4px 1px gray;
  border: 2px solid #39b882;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  min-height: 100%;
  margin-bottom: 20px;
}

.card-img-top {
  width: 50%;
  display: block;
  margin: auto;
}

.card .card-body:last-child {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-text {
  color: #191919;
}

.hashtags div.col-md-3:nth-child(1) .card-body .card-title,
.hashtags div.col-md-3:nth-child(2) .card-body .card-title {
  color: #191919;
  font-weight: 900;
  font-size: 23px;
}

.hashtags div.col-md-3:nth-child(3) .card-body .card-title,
.hashtags div.col-md-3:nth-child(4) .card-body .card-title {
  color: #191919;
  font-weight: 900;
  font-size: 23px;
}

/*  Footer  */

footer {
  color: white;
  background: rgb(22, 21, 21) !important;

  box-shadow: 0px -2px 8px 0px grey;
}

.enlace {
  list-style: none;
}

.tamaño {
  font-size: 16px;
}

.negrita {
  font-weight: 800;
  color: black;
  text-transform: uppercase;
}

.icon {
  font-size: 30px;
  color: #0398b9;
  margin: 3px;
  filter: drop-shadow(2px 2px 2px rgb(22, 22, 22));
  background: #000;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  line-height: 1.3 !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition-duration: 400ms;
  color: #01bae4;
  opacity: 0, 9;
  background: #000;
}

.subrayado ul li {
  border-bottom: 1.5px solid #000;
  line-height: 30px;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 55px;
  color: #999;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  color: #39b882;
}

.titulopa:hover {
  color: #fbbc05;
}

.titulopa:focus {
  color: #39b882;
}

.logo-footer {
  filter: drop-shadow(2px 2px 2px rgba(128, 128, 128, 1));
}

.skip2content-link {
  color: #0070f2;
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip2content-link:focus {
  background-color: #ffffff;
  left: 35%; /*para que quede centrado, como el ancho es 30% entonces 50%-15%(mitad)*/
  top: 0%;
  width: 30%;
  height: auto;
  overflow: auto;
}

.skip2content-link:hover {
  color: #008579;
}
