* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7f1;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/manosunidas.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

h1 {
  font-size: 60px;
}
.subtitulo {
  font-size: 21px;
  font-weight: 900;
}

.dropdown-item {
  font-weight: 700;
}

.naranja {
  color: #e64a19;
}

.white {
  color: white;
}

.amarillo {
  color: #ff8f00;
}

.bginfo-oscuro {
  color: #17a2b8;
}

.gris {
  color: #999;
}

.stroke {
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 18px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: black;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 800;
}

footer {
  background: #111;
  padding: 10px 0px;
  color: whitesmoke;
}

.enlace {
  list-style: none;
}

.icon {
  font-size: 40px;
  color: #17a2b8;
  margin: 3px;
}

.icon:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition-duration: 400ms;
  color: #ff8f00;
  opacity: 0, 9;
}

.subrayado ul li {
  border-bottom: 1px solid #ff8f00;
  line-height: 30px;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 60px;
  color: #999;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
