* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7f1;
  font-family: "Noto Sans TC";
}

/*  Header  */

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/manosunidas.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}
.subtitulo {
  font-size: 21px;
  font-weight: 900;
}

.dropdown-item {
  font-weight: 700;
}

.amarillo {
  color: #ff8f00;
}

.white {
  color: white;
}

.bginfo-oscuro {
  color: #00d2ff;
}

.ws {
  color: whitesmoke;
}

.stroke {
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}

.button {
  background-color: rgb(24, 117, 24);
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(4, 100, 4);
  color: white;
  text-decoration: none;
}

/*  Nav  */

nav {
  z-index: 1;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.navbar-brand.ml-3 {
  color: black;
  font-weight: 800;
  font-size: 20px;
}

.nav-link {
  color: #fff !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18.7px;
}

.bg-info {
  background: linear-gradient(to right, #008198, #267d97, #3177c0) !important;
  background: -webkit-linear-gradient(to right, #008198, #267d97, #3177c0);
  opacity: 0.98;
}

.dropdown-menu {
  background: #267d97;
  background: #3177c0;
  border: none;
  border-radius: none;
}

.dropdown-item {
  color: #fff;
  background-color: linear-gradient(to right, #267d97, #3177c0);
}

/*  Textos/Párrafos  */

#about-text {
  text-align: left;
}

#about-text p b {
  color: #3a7bd5;
  font-weight: 900;
  font-size: 18.7px;
}

.lista ul li {
  list-style-type: none;
  background-image: url(../images/TILDE.png);
  background-position: 0 0;
  background-size: 1.6rem;
  background-repeat: no-repeat;
  padding-left: 40px;
}

/*  Cards  */

.hashtags span {
  display: block;
}

.card {
  box-shadow: 0px 0px 4px 1px gray;
  border: none;
  border-radius: none;
}

.card-img-top {
  width: 50%;
  display: block;
  margin: auto;
}

.card .card-body:last-child {
  background: linear-gradient(to right, #4189ee, #0d5dcc);
}

.card-text {
  color: white;
}

.hashtags div.col-md-3:nth-child(1) .card-body .card-title,
.hashtags div.col-md-3:nth-child(2) .card-body .card-title {
  color: #2e8fc5;
  font-weight: 900;
  font-size: 23px;
}

.hashtags div.col-md-3:nth-child(3) .card-body .card-title,
.hashtags div.col-md-3:nth-child(4) .card-body .card-title {
  color: #2e8fc5;
  font-weight: 900;
  font-size: 23px;
}

/*  Footer  */

footer {
  color: whitesmoke;
  background: linear-gradient(to right, #008389, #008198, #267d97, #3177c0);
  background: -webkit-linear-gradient(
    to right,
    #008389,
    #008198,
    #267d97,
    #3177c0
  );
  padding: 10px 0px;
  box-shadow: 0px -2px 8px 0px grey;
}

.enlace {
  list-style: none;
}

.tamañonegrita {
  color: black;
  font-size: 16px;
}

.icon {
  font-size: 40px;
  color: #ffffff;
  margin: 3px;
  filter: drop-shadow(2px 2px 2px rgb(22, 22, 22));
}

.icon:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition-duration: 400ms;
  color: #53fcff;
  opacity: 0, 9;
}

.subrayado ul li {
  border-bottom: 1.5px solid #06eaff;
  line-height: 30px;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 55px;
  color: #999;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  color: navy;
}

.logo-footer {
  filter: drop-shadow(2px 2px 2px rgba(128, 128, 128, 1));
}

.skip2content-link {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip2content-link:focus {
  background-color: white;
  left: 35%; /*para que quede centrado, como el ancho es 30% entonces 50%-15%(mitad)*/
  top: 0%;
  width: 30%;
  height: auto;
  overflow: auto;
}
